@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
 }
.nav {
  height: 50px;
  width: 100%;
  background-color:black;
  position: relative;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  text-transform:uppercase;
}

.nav .nav-links a:hover {
  border-bottom: 2px solid red;
}

.nav #nav-check {
  display: none;
}
.nav-links .search{
	color:white;
	line-height: 25px;
	margin-right:10px;
	padding-bottom:10px;
	cursor:pointer;
}

@media (max-width:801px) {
  .nav .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  }
  .nav .nav-btn label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
  }
  .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
  background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn label span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
  }
  .nav .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
  }
  .nav .nav-links a {
  display: block;
  width: 100%;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
  }
}
/* ABout Start  */
.about_me{
  background-color: #333;
  height: 1750px;
}
.stats,.stats2{
	font-size:48px;
	text-align:center;
	text-transform:uppercase;
}
.stats{
	color:white;
	margin-left:100px;
}
.stats2{
	float:right;
	position:relative;
	bottom:72px;
	color:#27ae60;
	margin-right:560px;
}
.abt-con{
	width:100%;
	height:565px;
	display:grid;
	grid-template-columns: auto auto auto;
}
.con-ele{
	height:235px;
	width:210px;
	border:2px solid #7c7366;
	border-radius:20px;
	margin:auto;
	margin-bottom:45px;
	cursor:pointer;
	transition:.5s ease-in-out;
}
.con-ele:hover{
	height:240px;
	border:2px solid #27ae60;
	transition:.5s ease-in-out;
}
.con-ele:hover .line{
	border:1px solid;
	border-color:#27ae60;
	transition:.3s ease-in-out;
}
.con-ele:hover .num{
	color:white;
	transition:.3s ease-in-out;
}
.con-ele:hover .ele-txt{
	color:#27ae60;
	transition:.3s ease-in-out;
}
.num{
	color:#27ae60;
	height:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:45px;
	margin-top:40px;
	margin-right:110px;
}
.ele-txt{
	color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left:65px;
	margin-top:10px;
}
.line{
	width:80%;
	margin-left:10px;
	margin-top:45px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:1px solid;
	border-color:#7c7366;
}
.skills-title{
	color:white;
	text-align:center;
	margin-top:20px;
	text-transform:uppercase;
	font-size:35px;
}
.sepline{
	width:40%;
	margin:auto;
	border:1px solid;
	border-color:#7c7366;
	opacity:40%;
}
.container {
  width: 80%;
  background-color: #ddd;
  margin-left:50px;
  margin-bottom:10px;
}

.skills {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
  height:35px;
  padding-left:5px;
}
.htp{
	color:white; 
	margin-left:50px;
}
.html {
	width: 90%; background-color: #27ae60;
}
.css {
	width: 95%; background-color: #27ae60;
}
.js {
	width: 3%; background-color: #27ae60;
}
.c {
	width: 45%; background-color: #27ae60;
}
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  min-height: 75vh;
  padding: 0px 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/*  ABout End */