@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
 }
.nav {
  height: 50px;
  width: 100%;
  background-color:black;
  position: relative;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  text-transform:uppercase;
}

.nav .nav-links a:hover {
  border-bottom: 2px solid red;
}

.nav #nav-check {
  display: none;
}
.nav-links .search{
	color:white;
	line-height: 25px;
	margin-right:10px;
	padding-bottom:10px;
	cursor:pointer;
}

@media (max-width:800px) {
  .nav .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  }
  .nav .nav-btn label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
  }
  .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
  background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn label span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
  }
  .nav .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
  z-index:1000;
  }
  .nav .nav-links a {
  display: block;
  width: 100%;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
  }
  my_pic1{
	  height:0px;
	  width:0px;
  }
}
.contact-con{
  height: 607px;
  background-color: white;
}
.stats,.stats2{
  font-size:48px;
  text-align:center;
  text-transform:uppercase;
}
.stats{
  color:#333;
  margin-left:100px;
}
.stats2{
  float:right;
  position:relative;
  bottom:72px;
  color:#27ae60;
  margin-right:560px;
}
.contact-me-here .con-me-here{
/*  text-transform: uppercase;*/
  color: #333;
  margin-left: 25px;
}
.contact-me-here .con-me-herep,.con-me-herep1{
  color:#333;
  margin-left: 25px;
  font-size: 18px;

}
.icon{
  margin-left: 25px;
  color: #333;
  font-size: 23px;
  display: inline;
}
.con-me-herep1{
  /*float: right;*/
  margin-right: 20px;
  font-size: 23px;
  display: inline;
}
.con-2{
  margin-left: 7px;
}
.con-1{
  margin-left: 850px;
}
.icon1{
  margin-left: 25px;
  color: white;
  font-size: 23px;
  width:50px;
  height:50px;
  border-radius:50%;
  background-color:#242728;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:0.7s ease-in-out;
}
.social{
	display:flex;
}
.icon1:hover{
	transition:0.7s ease-in-out;
	background-color:#27ae60;
	display:flex;
	justify-content:center;
	align-items:center;
}