@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-decoration: none;
}
body {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
 }
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.nav {
  height: 50px;
  width: 100%;
  background-color:black;
  position: relative;
}

.nav .nav-header {
  display: inline;
}

.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
  text-transform:uppercase;
}

.nav .nav-links a:hover {
  border-bottom: 2px solid red;
}

.nav #nav-check {
  display: none;
}
.nav-links .search{
	color:white;
	line-height: 25px;
	margin-right:10px;
	padding-bottom:10px;
	cursor:pointer;
}

@media (max-width:800px) {
  .nav .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  }
  .nav .nav-btn label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
  }
  .nav .nav-btn label:hover,.nav  #nav-check:checked ~ .nav-btn label {
  background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn label span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
  }
  .nav .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: white;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
  z-index:1000;
  }
  .nav .nav-links a {
  display: block;
  width: 100%;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
  }
  .nav #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
  }
  my_pic1{
	  height:0px;
	  width:0px;
  }
}
/* Home start */
#about{
	background:white;
	 width:100%;
	 height:100vh;
}
.flex-body{
	display:flex;
	justify-content:center;
    align-items:center;
}
.flex1{
	width:100%;
	height:607px;
}
.item1{
	flex-grow:1;
	display:flex;
	justify-content:center;
	align-items:center;
   flex-direction:column;
   background-color:white;
}
.item2{
	display:flex;
	justify-content:center;
	align-items:center;
	width:117%;
	flex-grow:1;
}
.my_pic1{
	height:450px;
	filter: grayscale(100%);
	cursor:pointer;
	transition:all .4s ease-in-out;
	position:relative;
	z-index:1;
}
.my_pic1:hover{
	filter: grayscale(0%);
	transition:all .5s ease-in-out;
}
#intro12{
	  font-family: 'Oswald', sans-serif;
	  font-size:20px;
	  color:#333;
	  font-weight:none;
	  margin:17px;
}
.my_thing{
	font-size:28px;
	color:#333;
}
/*  Home End */
/*  Home End */
